.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.half {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.app {
    order: 1;
    padding: 5% 5% 5% 5%;
}
.text {
    order: 2;
}

.appImageLeft {
    position: relative;
    z-index: 0;
    width: 50%;
}

.appImageMiddle {
    position: absolute;
    z-index: 1;
    width: 50%;
}

.appImageRight {
    position: absolute;
    z-index: 0;
    width: 50%
}

.websiteImage {
    width: 90%;
    margin: 0% auto 0% auto;
    border-radius: 5%/8%;
}

@media screen and (max-width: 720px) {
    .container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .text {
        order: 1;
    }
    .app {
        order: 2;
    }
}