.social {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 300px;
    text-align: center;
}

@media screen and (max-width: 720px) {
    .social {
        width: 100%;
    }
}