$background-color-normal: rgb(47, 12, 41);
$background-color-darker: rgb(47, 12, 41);
$text-light-color: #ecebe4;
$accent-color: salmon;

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    font-family: 'Arial', 'Helvetica', 'sans-serif';
  }

html, body{
  background-color: $background-color-normal;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.content-container {
    position: relative;
    background-color: $background-color-normal;
    margin-top: -20px;
    height: auto;
}

.content {
    margin: auto;
    width: 70%;
    margin-bottom: 3%;
}

@media all and (max-width: 720px){
    .content {
        width: 90%;
        margin-bottom: 6%;
    }
    .content-container {
        margin-top: -5px;
    }
}

@media all and (max-width: 900px){
    .content {
        width: 80%;
        margin-bottom: 6%;
    }
}

h1 {
  text-align: center;
  font-weight: 300;
  font-size: calc(1em + 10vw);
  color: $text-light-color;
  margin-top: 10%;
}

h2 {
  text-align: center;
  font-weight: 200;
  font-size: calc(1.5em + 3vw);
  color: $text-light-color;
  margin-bottom: 5%;
  margin-top: 3%;
  overflow: hidden;
}

h2:before, h2:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}

h3 {
    font-size: calc(1em + 1.5vw);
    font-weight: 300;
    color: $accent-color;
    margin-bottom: 5px;
}

h4 {
  font-weight: 300;
  color: $text-light-color;
  margin-top: 10px;
  font-size: calc(1em + 0.5vw);
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $text-light-color;
    font-size: calc(0.9em + 0.2vw);
}

a, a:hover {
    color: $accent-color;
}

hr {
  border-top: 1px solid $text-light-color;
}
