.parallax {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: -moz-calc((1800 / 2850) * 100vw);
    height: -webkit-calc((1800 / 2850) * 100vw);
    height: calc((1800 / 2850) * 100vw);
}

.parallax__layer{
    position: absolute;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.title {
    position: fixed;
    vertical-align: middle;
    width: 100%;
}

.attribution {
    position: absolute;
    bottom: 4%;
    right: 3%;
    cursor: pointer;
    color: lightgray;
}

i {
    cursor: pointer;
    
    border: solid white;
    border-width: 0 8px 8px 0;
    margin-left: -35px;
    padding: 30px;
}

.loadingContainer {
    position: absolute;
    top: 40%;
}

.arrowDown {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
}

@media all and (max-width: 1080px) {
    .arrowDown {
        display: none;
    }

    .loadingContainer {
        top: 50%;
    }
}