.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.half {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.profileImage {
    width: 70%;
    margin: 0% auto 10% auto;
    border-radius: 2%;
}

.toastImage {
    position: absolute;
    bottom: 0;
    height: 100%;
}

@media screen and (max-width: 720px) {
    .container {
        flex-direction: column;
    }
}